<p id="notice"><%= notice %></p>

<p>
  <strong>Term:</strong>
  <%= @maritime_term.term %>
</p>

<p>
  <strong>Explination:</strong>
  <%= @maritime_term.explination %>
</p>

<%= link_to 'Edit', edit_maritime_term_path(@maritime_term) %> |
<%= link_to 'Back', maritime_terms_path %>
