<!DOCTYPE html>
<html>
  <head>
    <title>MarineLogisticsDictionary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script async src="https://cdn.contextcue.com/adsbycontextcue.js"></script>
    <%= yield %>
    <ins class="adsbycontextcue" data-cc-site="00709622-a7c8-4388-bba8-a662bc746df3" data-cc-slot="d6BghddFm" style="display:block;"></ins>
  </body>
</html>
